h1{
    font-family: 'Roboto Mono', monospace;
}

h2{
    font-family: 'Roboto Mono', monospace;
}
/* reference to font:https://fonts.google.com/share?selection.family=Roboto%20Mono */
body{
    background-color:azure
}